*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    color: white;
}
.logo{
    font-size:  50px;;
    font-weight: bold;
    letter-spacing: 2px;

}
.links{
    display: flex;
    gap: 20px;
    align-items: flex;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}
.links a:hover{
    color:GRAY;
}
.drop{
    position: relative;
}
.drop select{
    background: gray;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-decoration-thickness: inherit;
}
.apply{
    background-color: #8bc34a;
    color: black;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition:  0.3s;
    padding: 8px 20px;
}
.apply:hover{
    background-color: red;
}
select{

}
