* {
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.text-white {
    color: white;
}


.container {
    height: 100vh;
    display: flex;
}


.left_side {
    background-color: #040b14;
    height: 100%;
    width: 20%;
    padding: 4vh 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.info>img {
    width: 40%;
    border-radius: 50%;
    border: 0.5vw solid #2c2f3f;
}

.info>.social {
    display: flex;
    gap: 1.3vw;
}

.social>svg {
    background-color: #2c2f3f;
    padding: 0.5vw;
    border-radius: 50%;

}


nav{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding: 7vh 2vw;
}

nav > a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.copy{
    /* width: 100%; */
    color: rgba(255, 255, 255, 0.795);

    text-align: center;
}

.copyright{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.copyright_src {
    text-decoration: none;
    color: blue;
}

.right_side {
    height: 100%;
    width: 80%;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    overflow: auto;
    /* background-position: center top; */
}

.right_side>div {
    width: 100%;
    height: 100%;
    background-color: #00000046;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}

.right_side>div>div>h1 {
    font-size: 5vw;
}

.right_side>div>div>p {
    font-size: 2vw;
}

.right_side span {
    border-bottom: 3px solid aqua;
    padding: 0 0 2vh 0;
}





::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #2c2f3f;
    /* border-radius: 50%; */
}

