* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px black(0, 0, 0, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 95%;
}

.left, .right {
    flex: 1;
    padding: 30px;
}

.left {
    background: #7857ff;
    color: #fff;
    text-align: center;
}

.score {
    background: #4e21ca;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score h1 {
    font-size: 40px;
}

.score p {
    opacity: 0.8;
    font-size: 14px;
}

.note {
    font-size: 14px;
    opacity: 0.9;
    margin-top: 10px;
}

.right h3 {
    margin-bottom: 15px;
}

.item {
    display: flex;
    justify-content: space-between;
    background: #f8f8f8;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 12px;
    background: #303b5a;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background: #4e21ca;
}

@media (max-width: 800px) {
    .card {
    flex-direction: column;
    }
}
