*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
}
.sidnav{
    width:200px;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidnav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
.sidnav>a.active{
    background-color: #db0a0a;
    color: aliceblue;
}
.main{
    margin-left: 100%;
    padding: 1px 16px; ;
    height:500px ;
}