*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.text-white {
    color: white;
}
.container {
    height: 100vh;
    display: flex;
}
.left-side {
    background-color: #040b14;
    height: 100%;
    width: 20%;
    padding: 4vh 10px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.info>img {
    width: 40%;
    border-radius: 50%;
    border: 0.5vw solid #2c2f3f;
}
.info>.social {
    display: flex;
    gap: 1.3vw;
}
.social>svg {
    background-color: #2c2f3f;
    padding: 0.5vw;
    border-radius: 50%;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding: 7vh 2vw;
}
nav>a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 1vw;
}
.copy {
    color: rgba(255, 255, 255, 0.795);

    text-align: center;
}
.copyright {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}



.right-side {
    height: 100%;
    width: 80%;
    background-image: url("../img/images\ \(1\).jpg");
    background-size: cover;
    overflow: auto;
}
.right-side>div{
    width: 100%;
    height: 100%;
    background-color: #00000046;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.right-side>div>div>h1{
    font-size: 5vw;
}
.right-side>div>div>p{
    font-size: 2vw;
    margin-top: 2vh;
}
.right-side span{
    border-bottom: 3px solid aqua;
    padding: 0 0 2vh 0;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #2c2f3f;
    /* border-radius: 50%; */
}

