.dash { 
    border-width: 10px;
    border-style: dashed;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.egg{
    border-top-left-radius: 50% 60%;
    border-top: 50% 60%;
    border-top-right-radius: 50% 60%;
    border-bottom-right-radius:50% 60% ;
    border-bottom: 50% 60%;
    border-bottom-left-radius: 50% 60%;
    border: 2px solid; 
    color: black;
    width: 300px;
    margin: auto;
    background-color: crimson;
}   
.full{
    background-color: black;
    
}
.white{
     color: aliceblue;
}
.str{
    border-style: dotted;
}